{{template "header.template" "页面未找到"}}
<body class="">
    <header id="top">
        <nav class="components">
            <a class="logo-min" href="javascript:history.back()"></a>
        </nav>
    </header>
    <article class="page">
        <div class="content">
            <h1>404 Not Found</h1>
            <p>The page you were looking for is no longer available.</p>
            {{ with .}}<p>{{.}}</p>{{ end }}
        </div>
    </article>
</body>
