{{/*<script>*/}}
{{/*    {{template "plugin.js"}}*/}}
{{/*    {{template "Diaspora.js"}}*/}}
{{/*    {{template "new_Diaspora.js"}}*/}}
{{/*</script>*/}}
<script src="/assets/blog/js/alpine.min.js" defer></script>
<script src="/assets/blog/js/plugin.js"></script>
<script src="/assets/blog/js/Diaspora.js"></script>
<script src="/assets/blog/js/new_Diaspora.js"></script>