{{template "header.template" (index .Contents 0).Title}}
<body>
    <header id="top">
        <div class="components">
            <a class="logo-min" href="javascript:history.back()"></a>
        </div>
    </header>

    {{with index .Contents 0}}
    <article data-id="{{.Cid}}" class="page">
        <section>
            {{.MD2HTML}}
        </section>
    </article>
    {{end}}


    {{template "footer.template"}}
</body>

