{{template "header.template" }}
    <body>
    <div id="loader"></div>
    <header id="top">
        <nav class="components">
            <a class="logo-min" href="javascript:history.back()"></a>
        </nav>
    </header>

    {{range .PageArr}}
    <article data-id="{{.Cid}}" class="page">
        <div class="content">
            {{.MD2HTML}}
        </div>
    </article>
    {{end}}


    {{template "footer.template"}}
    </body>
</html>
