<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="webkit" name="renderer">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title> - 晓梦 - Powered by Smoe</title>
    <meta content="noindex, nofollow" name="robots">
    <link href="/smoe-admin/css/normalize.css?v=1.2.0" rel="stylesheet">
    <link href="/smoe-admin/css/grid.css?v=1.2.0" rel="stylesheet">
    <link href="/smoe-admin/css/style.css?v=1.2.0" rel="stylesheet">
</head>
<body>
<div class="typecho-head-nav clearfix" role="navigation">
    <button class="menu-bar">菜单</button>
    <nav id="typecho-nav-list">
        <ul class="root focus">
            <li class="parent"><a href="/admin/index">控制台</a></li>
            <ul class="child">
                <li class="focus"><a href="/admin">概要</a></li>
                <li><a href="/admin/profile">个人设置</a></li>
                <li><a href="/admin/plugins">插件</a></li>
                <li><a href="/admin/themes">外观</a></li>
                <li><a href="/admin/backup">备份</a></li>
                <li class="last"><a href="/admin/extending?panel=Access%2Fpage%2Fconsole">Access控制台</a>
                </li>
            </ul>
        </ul>
        <ul class="root">
            <li class="parent"><a href="/admin/write-post">撰写</a></li>
            <ul class="child">
                <li><a href="/admin/write-post">撰写文章</a></li>
                <li class="last"><a href="/admin/write-page">创建页面</a></li>
            </ul>
        </ul>
        <ul class="root">
            <li class="parent"><a href="/admin/manage-posts">管理</a></li>
            <ul class="child">
                <li><a href="/admin/manage-posts">文章</a></li>
                <li><a href="/admin/manage-pages">独立页面</a></li>
                <li><a href="/admin/manage-comments">评论</a></li>
                <li><a href="/admin/manage-categories">分类</a></li>
                <li><a href="/admin/manage-tags">标签</a></li>
                <li><a href="/admin/manage-medias">文件</a></li>
                <li class="last"><a href="/admin/manage-users">用户</a></li>
            </ul>
        </ul>
        <ul class="root">
            <li class="parent"><a href="/admin/options-general">设置</a></li>
            <ul class="child">
                <li><a href="/admin/options-general">基本</a></li>
                <li><a href="/admin/options-discussion">评论</a></li>
                <li><a href="/admin/options-reading">阅读</a></li>
                <li class="last"><a href="/admin/options-permalink">永久链接</a></li>
            </ul>
        </ul>
    </nav>
    <div class="operate">
        <a class="author" href="/admin/profile" title="最后登录: 昨天 21:23">Bapi</a><a
            class="exit" href="/action/logout?_=f44d2ea1cae868d7ed3b0a40c82a70a9">登出</a><a
            href="/">网站</a>
    </div>
</div>